<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Home</title>
</head>

<body>

  <div class="top-header">
    <div class="informacion-adicional-top-header">
      <p class="información-adicional-th1">Dirección del Local</p>
      <p>Teléfono de Contacto</p>
    </div>
    <div class="icono-de-inicio-de-sesión">
      <i class="fa-solid fa-right-to-bracket"></i>
    </div>
  </div>

  <header>
    <div class="menu-burger">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo">
      <a href="/"><img src="./images/logo-mobile-blanco.png" alt="LogoMobile"></a>
    </div>
    <div class="icono-de-carrito">
      <i class="fas fa-shopping-cart"></i>
    </div>
  </header>
<body>
	<div class="pagina-login">
		<div class="formulario-login">
			<form class="login-form">
				<input type="text" placeholder="Usuario"/>
				<input type="password" placeholder="Contraseña"/>
				<button>Iniciar sesión</button>
				<p class="mensaje-login">¿No tenés cuenta? <a href="#">Registrate acá</a></p>
			</form>
		</div>
	</div>
</body>
<footer class="footer-container">
    <div class="links-de-pagina">
      <ul class="list-footer">
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Políticas de privacidad</a></li>
        <li><a href="#">Tienda</a></li>
        <li><a href="#">Más información</a></li>
      </ul>
    </div>
    <div class="logo-footer">
      <img src="/images/logo-mobile-blanco.png" alt="Logo del sitio">
    </div>
  </footer>

  <footer class="sub-footer-container">
      <div class="powered-by">
        <p>Powered By, Grupo 5</p>
      </div>
      <div class="medios-de-pago">
        <img src="/images/mastercard.png" alt="Mastercard"> 
        <img src="/images/Visa.png" alt="Visa"> 
        <img src="/images/cuenta-dni.png" alt="Cuenta-Dni"> 
      </div>
    
  </footer>
</body>

</html>
