<!DOCTYPE html>
<html>
<head>
	<title>Productos Naturales</title>
		<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	
</head>
<header>
    <div class="menu-burger">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo">
      <img src="./images/logo-mobile-blanco.png" alt="LogoMobile">
    </div>
    <div class="icono-de-carrito">
      <i class="fas fa-shopping-cart"></i>
    </div>
  </header>
<body>
	<h1>Productos Naturales</h1>
	
	<h2>Cremas</h2>
	
	<!-- Producto 1 -->
	<div>
		<img src="./images/producto 1.png" alt="Crema 1" width= 300px height=300px>  
		<h3>Crema de Rosa Mosqueta</h3>
		<p>Descripción del producto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam vestibulum bibendum. Proin finibus, odio vel mollis interdum, massa velit facilisis enim, vitae posuere justo libero ut enim.</p>
		<p>Precio: $19.99</p>
	</div>
	
	<!-- Producto 2 -->
	<div>
		<img src="./images/producto 2.png" alt="Crema 2" width="300" height="300">
		<h3>Crema de Aloe Vera</h3>
		<p>Descripción del producto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam vestibulum bibendum. Proin finibus, odio vel mollis interdum, massa velit facilisis enim, vitae posuere justo libero ut enim.</p>
		<p>Precio: $14.99</p>
	</div>
	
	<h2>Jabones</h2>
	
	<!-- Producto 3 -->
	<div>
		<img src="jabon1.jpg" alt="Jabon 1">
		<h3>Jabón de Lavanda</h3>
		<p>Descripción del producto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam vestibulum bibendum. Proin finibus, odio vel mollis interdum, massa velit facilisis enim, vitae posuere justo libero ut enim.</p>
		<p>Precio: $7.99</p>
	</div>
	
	<!-- Producto 4 -->
	<div>
		<img src="jabon2.jpg" alt="Jabon 2">
		<h3>Jabón de Manzanilla</h3>
		<p>Descripción del producto: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam vestibulum bibendum. Proin finibus, odio vel mollis interdum, massa velit facilisis enim, vitae posuere justo libero ut enim.</p>
		<p>Precio: $6.99</p>
	</div>
</body>
</html>